{{ define "main" }}

<!-- page -->
<div id="homeContent" class="pushFooter">

<!-- band_one.md populates this section -->
{{ with .Site.GetPage "/home/band_one.md" }}
  <div class="band first">
    <div class="bandContent">

<!-- hexes on the left -->
      <div class="hexBadges">
        {{ $col0 := .Params.col0 }}
        {{ with $col0 }}
        {{ with .row1 }}<a href="https://tidymass.tidymass.org/"><div class=""></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/tidymass_logo.png" alt="{{ . }} hex sticker" class="r1 c0"></a>{{ end }}
        {{ with .row2 }}<a href="https://metid.tidymass.org/"><div class="filtered r2 c0"></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/metid_logo2.png" alt="{{ . }} hex sticker" class="r2 c0"></a>{{ end }}
        {{ with .row3 }}<a href="https://massdataset.tidymass.org/"><div class="filtered r3 c0"></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/massdataset_logo.png" alt="{{ . }} hex sticker" class="r3 c0"></a>{{ end }}
        {{ end }}
        {{ $col2 := .Params.col2 }}
        {{ with $col2 }}
        {{ with .row2 }}<a href="https://massprocesser.tidymass.org/"><div class="filtered r2 c2"></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/massprocesser_logo.png" alt="{{ . }} hex sticker" class="r2 c2"></a>{{ end }}
        {{ with .row3 }}<a href="https://masscleaner.tidymass.org/"><div class="filtered r3 c2"></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/masscleaner_logo.png" alt="{{ . }} hex sticker" class="r3 c2"></a>{{ end }}
        {{ with .row4 }}<a href="https://massqc.tidymass.org/"><div class="filtered r4 c2"></div><img src="https://raw.githubusercontent.com/tidymass/tidymass/master/man/figures/massqc_logo.png" alt="{{ . }} hex sticker" class="r4 c2"></a>{{ end }}
        {{ end }}
      </div>

<!-- text on the right -->
      <div class="blurb">
        <div class="tagline">
          {{ .Title }}
          </div>
        <div>
          {{ .Content | markdownify }}
        </div>
      </div>

    </div> <!-- bandContent -->
  </div>  <!-- band -->
{{ end }}

<!-- band_two.md populates this section -->
{{ with .Site.GetPage "/home/band_two.md" }}

  <div class="band second">
    <div class="bandContent">
      <div class="blurb">
        <div class="tagline">
          {{ .Title }}
        </div>
        <div>
          {{ .Content | markdownify }}
        </div>
      </div>
      <div class="blurb">
        <div class="tagline small"></div>
        {{ partial "homepage_sticky" . }}
      </div>
    </div> <!-- bandContent -->
  </div> <!-- band -->

{{ end }}

<!-- band_three.md populates this section -->

{{ with .Site.GetPage "/home/band_three.md" }}

  <div class="band third">
    <div class="bandContent">
      <div class="hideOnMobile"></div>
      <div class="blurb">
        <div class="tagline">
          {{ .Title }}
          </div>
        <div>
          {{.Content | markdownify }}
        </div>
      </div>
    </div> <!-- bandContent -->
  </div> <!-- band -->
</div> <!-- homeContent -->
{{ end }}

{{ end }}


